body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
}

.container {
  padding: 0 30px;
  margin: 0;
  color: azure;
}


.boton-naranja {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-naranja:hover {
  background-color: darkorange;
}

.boton-azul {
  background-color: #355f7d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-azul:hover {
  background-color: #2a4b62;
}

.boton-rojo {
  background-color: #e42626;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-rojo:hover {
  background-color: #c92121;
}

input {
    background-color: #292929; 
    color: azure; 
    padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}



header, h1 {
  color: azure;
   padding: 0 30px;
}
